@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'montserrat';
    background-color: #ffffff;
    font-size: 15px;

}
h1 {
    font-size: 25px;
}
article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
